*{
    padding: 0;
    margen:0;
    box-sizing: border-box;
    /* border:1px solid red */
}

.contenedor {
    border: 1px solid red;
    height: 100vh;
    display: grid;
    /*indicar como queremos nuestras columnas*/
    /*repeat(cuantos,tamaño) - "1fr" ajusta a la pantalla*/
    /* grid-template-columns: repeat(4,1fr) ; */
    grid-template-columns: repeat(4,minmax(150px,1fr));
}

.item {
    border: 1px solid blue;
    
}