*{
    padding: 0;
    margen:0;
    box-sizing: border-box;
    /* border:1px solid red */
}

.contenedor {
    border: 1px solid red;
    height: 100vh;
    display: grid;
}

.item {
    border: 1px solid blue;
    
}